{% extends 'authenticated_base.html' %}

{% block title %}Edit Profile - Healthee{% endblock %}
{% block page_title %}Edit Profile{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <form method="post">
            {% csrf_token %}

            <!-- Personal Information -->
            <div class="card">
                <div class="card-header">Personal Information</div>
                <div class="form-group">
                    <label>{{ form.dob.label }}</label>
                    <input type="date" name="{{ form.dob.name }}" class="form-control"
                        value="{{ form.dob.value|default:'' }}">
                </div>
            </div>

            <!-- Physical Metrics -->
            <div class="card">
                <div class="card-header">Physical Metrics</div>

                <div class="form-group">
                    <label>{{ form.size.label }}</label>
                    <div class="input-group">
                        <input type="number" name="{{ form.size.name }}" class="form-control"
                            value="{{ form.size.value|default:'' }}">
                        <span class="input-group-addon">cm</span>
                    </div>
                </div>

                <div class="form-group">
                    <label>{{ form.weight.label }}</label>
                    <div class="input-group">
                        <input type="number" name="{{ form.weight.name }}" class="form-control"
                            value="{{ form.weight.value|default:'' }}" step="0.1">
                        <span class="input-group-addon">kg</span>
                    </div>
                </div>

                <div class="form-group">
                    <label>{{ form.bf.label }}</label>
                    <div class="input-group">
                        <input type="number" name="{{ form.bf.name }}" class="form-control"
                            value="{{ form.bf.value|default:'' }}" step="0.1">
                        <span class="input-group-addon">%</span>
                    </div>
                </div>
            </div>

            <!-- Activity Preferences -->
            <div class="card">
                <div class="card-header">Activity Preferences</div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="{{ form.lift.name }}" {% if form.lift.value %}checked{% endif %}>
                        {{ form.lift.label }}
                    </label>
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="{{ form.run.name }}" {% if form.run.value %}checked{% endif %}>
                        {{ form.run.label }}
                    </label>
                </div>
            </div>

            <!-- Buttons -->
            <div class="text-center">
                <button type="submit" class="btn btn-success btn-lg">
                    <span class="glyphicon glyphicon-floppy-disk"></span> Save Changes
                </button>
                <a href="{% url 'profile' %}" class="btn btn-default btn-lg">
                    <span class="glyphicon glyphicon-remove"></span> Cancel
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}