{% extends 'authenticated_base.html' %}

{% block title %}My Profile - Healthee{% endblock %}
{% block page_title %}My Profile{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-10">
        <!-- Personal Information -->
        <div class="card">
            <div class="card-header">
                <span class="glyphicon glyphicon-info-sign"></span> Personal Information
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p><strong>Username</strong></p>
                    <p>{{ member.user.username }}</p>
                </div>
                <div class="col-md-4">
                    <p><strong>Email</strong></p>
                    <p>
                        {% if member.user.email %}
                        {{ member.user.email }}
                        {% else %}
                        <span style="color: #999; font-style: italic;">Not set</span>
                        {% endif %}
                    </p>
                </div>
                <div class="col-md-4">
                    <p><strong>Date of Birth</strong></p>
                    <p>
                        {% if member.dob %}
                        {{ member.dob|date:"F d, Y" }}
                        {% else %}
                        <span style="color: #999; font-style: italic;">Not set</span>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>

        <!-- Physical Metrics -->
        <div class="card">
            <div class="card-header">
                <span class="glyphicon glyphicon-stats"></span> Physical Metrics
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p><strong>Height</strong></p>
                    <p>
                        {% if member.size %}
                        {{ member.size }} cm
                        {% else %}
                        <span style="color: #999; font-style: italic;">Not set</span>
                        {% endif %}
                    </p>
                </div>
                <div class="col-md-4">
                    <p><strong>Weight</strong></p>
                    <p>
                        {% if member.weight %}
                        {{ member.weight }} kg
                        {% else %}
                        <span style="color: #999; font-style: italic;">Not set</span>
                        {% endif %}
                    </p>
                </div>
                <div class="col-md-4">
                    <p><strong>Body Fat %</strong></p>
                    <p>
                        {% if member.bf %}
                        {{ member.bf }}%
                        {% else %}
                        <span style="color: #999; font-style: italic;">Not set</span>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>

        <!-- Activity Preferences -->
        <div class="card">
            <div class="card-header">
                <span class="glyphicon glyphicon-fire"></span> Activity Preferences
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p>
                        {% if member.lift %}
                        <span class="label label-success">
                            <span class="glyphicon glyphicon-ok"></span> Weightlifting Active
                        </span>
                        {% else %}
                        <span class="label label-default">
                            <span class="glyphicon glyphicon-remove"></span> Weightlifting Inactive
                        </span>
                        {% endif %}
                    </p>
                </div>
                <div class="col-md-6">
                    <p>
                        {% if member.run %}
                        <span class="label label-success">
                            <span class="glyphicon glyphicon-ok"></span> Running Active
                        </span>
                        {% else %}
                        <span class="label label-default">
                            <span class="glyphicon glyphicon-remove"></span> Running Inactive
                        </span>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>

        <!-- Edit Button -->
        <div class="text-center">
            <a href="{% url 'edit_profile' %}" class="btn btn-primary btn-lg">
                <span class="glyphicon glyphicon-edit"></span> Edit Profile
            </a>
        </div>
    </div>
</div>
{% endblock %}